In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('NYPD_Arrests_Data__Historic_.csv')

In [25]:
df.head(10)

,ARREST_KEY,ARREST_DATE,PD_DESC,ARREST_BORO,Latitude,Longitude
1,237354740,2021-12-04,RAPE 3,Bronx,40.816392,-73.895296
2,236081433,2021-11-09,"CHILD, ENDANGERING WELFARE",Queens,40.679700,-73.776047
4,192799737,2019-01-26,SEXUAL ABUSE,Manhattan,40.800694,-73.941109
7,236106641,2021-11-10,"ARSON 2,3,4",Bronx,40.804013,-73.878332
8,238383628,2021-12-28,"FORGERY,ETC.,UNCLASSIFIED-FELO",Queens,40.691660,-73.779199
10,237339209,2021-12-04,ASSAULT 3,Brooklyn,40.688584,-73.916526
12,237580757,2021-12-09,STRANGULATION 1ST,Manhattan,40.828675,-73.943990
15,221870158,2020-12-15,"FACILITATION 4, CRIMINAL",Brooklyn,40.672763,-73.872043
16,220422940,2020-11-12,RAPE 1,Queens,40.722364,-73.851474
17,237954587,2021-12-16,"ROBBERY,OPEN AREA UNCLASSIFIED",Manhattan,40.720464,-74.006852

In [18]:
df = df.drop(columns = ['PD_CD', 'KY_CD', 'OFNS_DESC', 'LAW_CODE', 'LAW_CAT_CD', 'ARREST_PRECINCT', 'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD', 'Y_COORD_CD', 'Lon_Lat'])

In [20]:
df = df.dropna(how='any',axis=0)

In [21]:
df['ARREST_BORO']= df['ARREST_BORO'].replace('M', 'Manhattan')
df['ARREST_BORO']= df['ARREST_BORO'].replace('B', 'Bronx')
df['ARREST_BORO']= df['ARREST_BORO'].replace('K', 'Brooklyn')
df['ARREST_BORO']= df['ARREST_BORO'].replace('S', 'Staten Island')
df['ARREST_BORO']= df['ARREST_BORO'].replace('Q', 'Queens')

In [24]:
df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'], format='%m/%d/%Y')
df = df[df['ARREST_DATE'] >= '01/01/2019']

In [30]:
df.to_csv('Crime Shortened.csv')